<form>
    <div class="form-group">
        <label for="description">Paste content from Baylor site into field below</label>
        <textarea class="form-control" id="description" rows="10" ng-model="content"></textarea>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="sendBaylorData()">Submit</button>
</form>


<div class="form-group">
    <label for="result">Generated reponse</label>
    <textarea class="form-control" id="result" rows="10" ng-model="result"></textarea>
</div>