<style>
    .glyph {
        cursor: pointer;
        margin-left: 10px;
        font-size: 13pt;
    }
</style>

<div class="modal" id="deleteContestModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete contest
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete {{selectedContest.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="removeContest(selectedContest.id)">Delete
                    contest
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<table datatable="ng" dt-options="" dt-column-defs="dtColumnDefs" class="row-border hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Contest title</th>
        <th>External files</th>
        <th>Is results final</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="contest in contests track by $index">
        <td>{{contest.id}}</td>
        <td><a href="/contest/{{contest.id}}" target="_blank">{{contest.name}}</a></td>
        <td>
            <span ng-repeat="file in contest.standingsFiles track by $index">{{file.link}}<br/></span>
        </td>
        <td>{{contest.is_final}}</td>
        <td>
            <span class="glyphicon glyphicon-pencil glyph" aria-hidden="true" ng-click="editContest(contest.id)"></span>
            <span class="glyphicon glyphicon-remove glyph" aria-hidden="true"
                  ng-click="showModalDialogForContest(contest.id)"></span>
        </td>
    </tr>
    </tbody>
</table>


<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editContest"
        ng-click="clearContest()">
    Add new contest
</button>

<div class="modal fade" id="editContest" tabindex="-1" role="dialog" aria-labelledby="editContestLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title col-md-11" id="editContestLabel">
                    <b>
                    <input type="text" class="form-control"
                           ng-model="selectedContest.name"
                           name="name"
                           style="font-size:18px;"
                           placeholder="Contest Name">
                    </b>
                </h4>
            </div>

            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="checkbox-inline" style="padding-left: 35px;">
                            <input type="checkbox" id="is_final" ng-model="selectedContest.is_final" value="true"> Is
                            contest results final?
                        </label>
                    </div>

                    <table>
                        <thead ng-if="selectedContest.standingsFiles.length">
                        <th class="text-center">URL</th>
                        <th>Frozen</th>
                        <th>
                        <th>
                        </thead>
                        <tbody>
                        <tr ng-repeat="url in selectedContest.standingsFiles track by $index"
                            id="standingsFile{{$index}}">
                            <td class="col-sm-9">
                                <input type="text" class="form-control" id="universityName + $index"
                                       ng-model="selectedContest.standingsFiles[$index].link"
                                       name="standingsFiles[$index]"
                                       placeholder="URL">
                            </td>
                            <td class="col-sm-1">
                                <input type="checkbox" class="form-check-input" id="final+$index"
                                       ng-model="selectedContest.standingsFiles[$index].frozen">
                            </td>
                            <td class="col-sm-1">
                                <span class="glyphicon glyphicon-remove glyph" style="font-size:20px; padding-top:5px;"
                                      aria-hidden="true" ng-click="removeURL($index)"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div class="row">
                    <button type="button" class="btn btn-info btn-xs pull-right"
                            style="margin-bottom: 3px; margin-right: 11px;" ng-click="addUrl()">Add
                        URL
                    </button>
                </div>
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveSelectedContest()">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>