<style>
    .glyph {
        cursor: pointer;
        margin-left: 10px;
        font-size: 13pt;
    }
</style>


<div class="modal" id="deleteTeamModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure to delete {{selectedTeam.name}}?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" ng-click="removeTeam(selectedTeam.id)">Delete team</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<table datatable="ng" dt-options="" dt-column-defs="dtColumnDefs" class="row-border hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>Team Name</th>
        <th>University</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="team in teams track by $index">
        <td>{{team.id}}</td>
        <td>{{team.name}}</td>
        <td>{{team.university.name}}</td>
        <td>
            <span class="glyphicon glyphicon-pencil glyph" aria-hidden="true" ng-click="editTeam(team.id)"></span>
            <span class="glyphicon glyphicon-remove glyph" aria-hidden="true" ng-click="showModalDialogForTeam(team.id)"></span>
        </td>
    </tr>
    </tbody>
</table>


<button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#editTeam">
    Add new team
</button>


<div class="modal fade" id="editTeam" tabindex="-1" role="dialog" aria-labelledby="editTeamLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editTeamLabel">User Edit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="teamName" class="col-sm-2 control-label">Team Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="teamName" ng-model = "selectedTeam.name" name="teamName" placeholder="Team Name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="university" class="col-sm-2 control-label">University</label>
                        <div class="col-sm-10">
                            <select id="university" class="form-control" ng-model="selectedTeam.university"
                                    ng-options="university.name for university in displayedUniversities | orderBy :'name' track by university.id">
                        </select>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="saveSelectedTeam()">Save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>